
.heading1 {
    font-family: Georgia;
    color: black;
    font-size: xx-large;
}

.heading2 {
    font-family: Georgia;
    color: #557A95;
    font-size: x-large;
}

.body {
    font-family: Georgia;
    color: black;
    font-size: medium;
}
    .body + .tooltip > .tooltip-inner {
        background-color: #557A95;
        color: #FFFFFF;
        border: 1px solid #557A95;
        padding: 15px;
        font-size: 20px;
        font-family: Georgia;
        color: #FFFFFF;
        font-size: small;
    }

    .body + .tooltip.bottom > .tooltip-arrow {
        border-bottom: 5px solid #557A95;
    }

#summer {
    width: 100%;
    padding: 20px 0;
    text-align: left;
    background-color: white;
    margin-top: 5px;
    font-family: Georgia;
    color: black;
    font-size: medium;
}



.button {
    background-color: #557A95;
    border: 2px solid #557A95;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    font-family: Georgia;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

    .button:hover {
        background-color: white;
        color: #557A95;
        
    }


